<div class="widgets">

  <div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Student Info"
       ba-panel-class="medium-panel">
    <dashboard-map></dashboard-map>
  </div>
        <div class="col-md-6">
      <div
          ba-panel
          ba-panel-title="Sign Up"
          ba-panel-class="with-scroll">
        <div ng-click="formController.create()" ng-include="'app/pages/form/layouts/widgets/blockForm.html'"></div>
      </div>
    </div>
  </div>

</div>